{% extends "base.html" %}

{% block title %}
    Analytics - PROCSTOP
{% endblock %}

{% block content %}
    <section class="analytics-section">
        <div class="image-container">
            <div class="image-block">
                <h2>WordCloud</h2>
                <img src="{{ url_for('wordcloud') }}" alt="WordCloud for {{ username }}">
            </div>
            <div class="image-block">
                <h2>Top 10 Entities Bar Plot</h2>
                <img src="{{ url_for('barplot') }}" alt="Top 10 Entities for {{ username }}">
            </div>
        </div>
    </section>
{% endblock %}
